<agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker *ngFor="let lugar of lugares" [latitude]="lugar.lat" [longitude]="lugar.lng"></agm-marker>
</agm-map>

<hr>

<div class="container">
    <div class="row justify-content-center" *ngIf="errorText">
        <div class="col">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                No fue posible cargar los datos.
                <button type="button" class="close" data-dismiss="alert">
                    <span>&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="row py-4">
        <div class="col-8">
            <h2 class="d-inline">Lugares cercanos</h2>
            <button routerLink="/crear/new" type="button" class="btn btn-success float-right">Agregar comercio</button>
            <ul class="list-group mt-3">
                <ng-container *ngFor="let lugar of lugares" [ngSwitch]="lugar.cercania">
                    <li class="list-group-item list-group-item-action">
                        <button type="button" class="float-right btn btn-info btn-sm"
                            routerLink="/crear/{{lugar.id}}"><i class="fa fa-pen"></i>
                        </button>
                        <strong>
                            <a routerLink="/detalle/{{lugar.id}}" [queryParams]="{action:'ver', referer:'lugares'}">
                                <!-- *ngIf="lugar.active" -->
                                {{lugar.nombre | uppercase}}</a>
                        </strong>
                        <span *ngSwitchCase="1" [resaltarDistancia]="lugar.cercania"> -Muy Cercano</span>
                        <span *ngSwitchCase="2" [resaltarDistancia]="lugar.cercania"> -Cercano</span>
                        <span *ngSwitchCase="3" [resaltarDistancia]="lugar.cercania"> -Lejano</span>

                        <br>
                        <small class="text-muted">Creado: {{lugar.id | date: 'short' | uppercase}}</small>
                        <p class="mb-0" [innerHtml]="lugar.descripcion | linkifystr"></p>
                    </li>
                </ng-container>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Destacados</h2>
            <ng-container *ngFor="let lugar of lugares">
                <ng-container *ngIf="lugar.plan === 'Premium'">
                    <div class="card mb-3" [@destacados]="stateDestacados">
                        <div class="card-body">
                            <h3 class="card-text text-success"><strong>{{lugar.nombre}}</strong></h3>
                            <p class="card-text" [innerHtml]="lugar.descripcion | linkifystr"></p>
                        </div>
                    </div>
                </ng-container>
            </ng-container>

            <button class="btn btn-warning" (click)="animar()">Activar cuadrado</button>
            <div id="cuadrado" [@contenedorAnimable]="state" (@contenedorAnimable.start)="iniciaAnimacion($event)"
                (@contenedorAnimable.done)="terminaAnimacion($event)"></div>
        </div>
    </div>
</div>