<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-4">
            <div class="card" style="background-color: #ebebeb;">
                <div class="card-body">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" [(ngModel)]="usuario.email">
                    </div>
                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control" [(ngModel)]="usuario.password">
                    </div>
                    <hr>
                    <p class="card-text text-center"><a href="javascript:" (click)="logWithGoogle()" class="text-decoration-none">Iniciar sesion con Google</a></p>
                    <button class="btn btn-primary btn-block my-2" (click)="loggear()">Iniciar sesion</button>
                    <button class="btn btn-secondary btn-block my-2" routerLink="/lugares">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>