<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/lugares">Lugares</a></li>
        <li class="breadcrumb-item active">{{lugar.nombre}}</li>
    </ol>
</nav>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="jumbotron">
                <h1 class="display-4">{{lugar.nombre}} <small>{{lugar.distancia}} km</small></h1>
                <hr>
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus minima sequi aperiam
                    repudiandae
                    velit, aspernatur nulla sit sunt. Repudiandae tempora natus non nesciunt repellendus, eaque amet
                    assumenda error inventore expedita?</p>
                <div class="text-right">Suscirpcion: <strong>{{lugar.plan}}</strong></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="spinner-grow" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>