<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/lugares">Lugares</a></li>
        <li class="breadcrumb-item active">{{idLugar === 'new' ? 'Crear' : 'Editar'}}</li>
    </ol>
</nav>
<div class="container">
    <div class="row justify-content-center py-4">
        <div class="col-8">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input id="nombre" type="text" class="form-control" [(ngModel)]="newLugar.nombre">
            </div>
            <div class="form-group">
                <label for="distancia">Distancia</label>
                <input id="distancia" type="number" class="form-control" [(ngModel)]="newLugar.distancia">
            </div>
            <div class="form-group">
                <label for="cercania">Cercania</label>
                <input id="cercania" type="number" class="form-control" [(ngModel)]="newLugar.cercania">
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <textarea id="descripcion" rows="3" class="form-control" [(ngModel)]="newLugar.descripcion"></textarea>
            </div>
            <div class="form-group">
                <label for="plan">Plan</label>
                <select id="plan" class="custom-select" [(ngModel)]="newLugar.plan">
                    <option selected>Selecciona una opción..</option>
                    <option value='Free'>Free</option>
                    <option value='Premium'>Premium</option>
                </select>
            </div>
            <hr>
            <div class="card">
                <div class="card-body">
                    <form>
                        <h3>Buscar en Google Maps</h3>
                        <input type="text" [formControl]="searchField" class="form-control">
                    </form>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-action" *ngFor="let result of results$ | async" (click)="fillDirection(result.address_components)">
                            {{result.formatted_address}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <label for="calle">Calle y numero</label>
                <input id="calle" type="text" class="form-control" [(ngModel)]="newLugar.direccion.calle">
            </div>
            <div class="form-group">
                <label for="ciudad">ciudad</label>
                <input id="ciudad" type="text" class="form-control" [(ngModel)]="newLugar.direccion.ciudad">
            </div>
            <div class="form-group">
                <label for="pais">Pais</label>
                <input id="pais" type="text" class="form-control" [(ngModel)]="newLugar.direccion.pais">
            </div>
            <div class="float-right">
                <button type="button" class="btn btn-success mr-2" (click)="saveLugar(lugar)">Enviar</button>
                <button type="button" class="btn btn-secondary" routerLink="/lugares">Cancelar</button>
            </div>
        </div>
    </div>
</div>